DB_USER=your_postgres_user
DB_HOST=localhost
DB_NAME=your_database_name
DB_PASSWORD=your_password
DB_PORT=5432

LEADSONLINE_ENV=sandbox
LEADSONLINE_STORE_ID=your_store_id
LEADSONLINE_USERNAME=your_api_username
LEADSONLINE_PASSWORD=your_api_password
